<section class="subscribe {{ .Get "class" }}">
	<div class="inner">{{ .Inner }}</div>
	<a href="{{ .Site.Params.subscriptionUrl }}"
	   class="btn primary ripple" rel="noreferrer" target="_blank">
		{{ partial "icon.html" "subscribe" }}
		{{ i18n "subscribe_action" }}
	</a>
</section>