button,
a.btn, span.btn,
input[type=button], input[type=reset], input[type=submit] {
  display: inline-flex;
  align-items: center;
  border: thin solid var(--darken-3);
  background: var(--darken-1);
  padding: var(--space-3);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 100;
  cursor: pointer;
  text-shadow: var(--extruded-light);
  --focus-color: var(--darken-1);
  --active-color: var(--darken-1);

  &.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

  &.primary {
    background-color: var(--primary);
    color: var(--primary-txt);
    text-shadow: var(--extruded-dark);
    --focus-color: var(--lighten-1);
    --active-color: var(--lighten-1);
  }

  // Ripple
  &.ripple {
    background-position: center;
    transition: background .5s;

    &:hover {
      background: var(--focus-color) radial-gradient(circle, transparent 1%, var(--focus-color) 1%) center/15000%;
    }

    &:active {
      background-color: var(--active-color);
      background-size: 100%;
      transition: background 0s;
    }
  }

  // Icons

  &.btn-icon-only {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lighten-1);
    border-radius: 50%;
    margin-left: 1ch;
    padding: var(--space-2);
    border-color: transparent;

    .icon {
      margin: var(--space-2);
      --size: 1.5rem;
      width: var(--size, 1.5rem);
      height: var(--size, 1.5rem);
      display: inline-block;
      content: '';
      background-repeat: no-repeat;
    }
  }

  &:hover, &:focus {
    background-color: var(--focus-color);
    text-decoration: none;
  }

  .icon {
    --size: 1rem;
    width: var(--size, 1rem);
    height: var(--size, 1rem);
  }
}

form:invalid button,
button[aria-disabled],
a.btn[aria-disabled],
span.btn[aria-disabled] {
  opacity: .5;
  cursor: not-allowed;
  filter: grayscale(100%);;
}

