body > header {

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2) var(--container-margin) var(--space-1) var(--container-margin);
  box-shadow: 0 var(--space-1) var(--primary),
  0 var(--space-2) var(--space-1) var(--darken-3);
  background: var(--primary);
  color: var(--primary-txt);

  .logo img {
    height: calc(var(--toolbar-height) - (2 * var(--space-2)));
    max-width: 180px;
  }

  label {
    display: none;
    opacity: .5;
    padding: .1em;
    border: var(--space-2) solid transparent; // Extending the hit area
    outline-offset: var(--space-2);

    .icon {
      --size: 1.5rem;
      height: var(--size, 1.5rem);
      width: var(--size, 1.5rem);
    }

    .icon-menu {
      display: block;
    }
    .icon-close {
      display: none;
    }

    &:hover, &:focus {
      opacity: 1;
      outline: thin dotted currentColor;
    }
  }

  input[type=checkbox]:checked ~ label {
    .icon-menu {
      display: none;
    }
    .icon-close {
      display: block;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
    }

    li {
      opacity: .6;
      transition: all var(--animation);
      border-bottom: thin solid transparent;
      border-radius: 5%;

      &.active {
        opacity: 1;
        border-bottom-color: currentColor;
      }
    }

    a {
      display: block;
      text-transform: uppercase;
      padding: 0 var(--space-3);
      text-decoration: none;
      line-height: calc(var(--toolbar-height) - (4 * var(--space-2)));;
      color: inherit;
      font-weight: 200;

      &:focus, &:hover {
        text-shadow: var(--extruded-dark);
        opacity: .75;
      }
    }

    .languages {
      a.lang {
        color: transparent;
        max-width: 2em;
        height: 2em;
        overflow: hidden;

        &::before {
          color: initial;
        }
        &.lang-fr::before {
          content: '🇫🇷';
        }
        &.lang-gb::before {
          content: '🇬🇧';
        }
      }

      a.active {
        display: none;
      }
    }

  }
}

@include mq($until: xl) {
  body > header {
    flex-wrap: wrap;

    label {
      display: block;
    }

    nav {
      display: none;
      width: 100%;
      background: var(--primary);
      flex-direction: column;
      justify-content: flex-start;

      ul {
        flex-direction: column;
      }

      a {
        padding: var(--space-2) 0;
        width: 100%;

        &.active {
          border-bottom-width: thin;
          border-bottom-color: var(--lighten-2);
        }

        &:focus, &:hover {
          background: var(--darken-1);
        }
      }
    }

    input[type=checkbox]:checked ~ nav {
      display: block;
    }
  }
}
