{{ define "main" }}

{{ .Content }}

<section>
	<ul class="talks shuffle">
		{{ $sessions := where .Site.AllPages ".Section" "sessions" }}
		{{ $types := (slice "Palestra" "Workshop" "Minicurso") }}
		{{ range $sessions }}
			{{ if intersect (slice .Params.talkType) $types }}
		<li class="talk tag-{{ anchorize (delimit (.Params.tags | default (slice)) "" ) }}">{{ partial "session.html" . }}</li>
			{{ end }}
		{{ end }}
	</ul>
</section>

{{ end }}